

body {
  background-color: #474747db; /* Set background color for the body */
}

.muiButtonBase-root {
  color: #f9b66a; /* Adjust color for specific elements if needed */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

.content-container {
  flex-grow: 1; /* Allow the content to grow to fill the remaining space */
  padding: 20px; /* Adjust padding as needed */
}

.bank-search-panel {
  width: 500px; /* Set the width of the panel */
  flex-shrink: 0; /* Prevent the panel from shrinking */
  margin-bottom: 20px;
  background-color: #fff; /* Optional: Set background color */
  /* border-right: 1px solid #862e2e; */
}

.search-bar {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.search-results {
  margin-top: 20px; /* Adjust margin as needed */
}

.card {
  margin-bottom: 20px; /* Adjust margin as needed */
  border: 1.5px solid #ddd; /* Optional: Add border to cards */
  border-radius: 10px; /* Optional: Add border radius to cards */
  height: 130px;
  font-size: 8px; /* Optional: Adjust font size */
}


