
  .search-bar {
    margin-bottom: 20px; /* Adjust margin as needed */
    display: flex;
    align-items: center;
    width: 40vw;
  }
  .search-bar button {
    margin-left: 10 px;
    color: #3E625F;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border: grey;
  }

  .search-bar button:hover {
    background-color: #F3C9BA;
    color: #3E625F;
  }
  .search-bar input {
    height: 6px;
  }
  .search-results {
    margin-top: 20px; /* Adjust margin as needed */
    width: 40vw;
  }
  
  .card {
    margin-bottom: 20px; /* Adjust margin as needed */
    border: 1px solid #ddd; /* Optional: Add border to cards */
    border-radius: 8px; /* Optional: Add border radius to cards */
    height: 145px;
    width: calc(100vw - 40px); /* Adjust width to fit the viewport width minus padding */
    max-width: 100%; /* Set maximum width for the card */
    font-size: 10px; /* Optional: Adjust font size */
  }
  .MuiContainer-root {
    max-width: 100% !important; /* Override max-width to make it full width */
    width: 500px !important; /* Ensure container fills the entire width */
  }

