/* AppNavbar.css */

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}


.navbar nav-link:hover {
    background-color: #F9CBCC;
    color: #3E625F;
  }
  
.loginBar {
  background-color: #F9CBCC;
}

.signUp {
  color: rgb(30, 30, 30)
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  object-fit: cover;
  color: rgb(30, 30, 30);
  height: 100px;
  margin-right: 20px;
}

.slogan {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  color: rgb(30, 30, 30);
}

@media screen and (max-width: 550px) {
  .slogan {
    font-size: 50%; /* Adjust the font size as needed */
  }
  .logo {
    height: 50px;
  }
}
.logbut  {
  background-color: #F9CBCC !important;
  color: black !important;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  margin: 5px !important;
}

/* .logbut-active {
  background-color: white !important;
} */

.logbut:hover {
  background-color: white !important;
}