.container {
    display: flex;
  }
  
  .content-container {
    /* Add styles for content container if needed */
  }
  
  .map-container {
    flex: 1;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }
  